# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# IDE settings
.vscode/
.idea/

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory
coverage/

# Parcel cache
.cache/

# Mac system files
.DS_Store
